body {
    font-family: Arial, Helvetica, sans-serif;
    background: #4a55a2;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .contact-form {
    background: #fff;
    padding: 25px;
    border-radius: 11px;
    width: 1000px;
    height: 500px;
  }
  .h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #333;
  }
  .form-group {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #4a55a2;
    color: #555;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
    resize: vertical;
  }
  #button {
    display: block;
    margin: auto;
    background: aqua;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
